<p id="notice"><%= notice %></p>

<h1>Todays Topics</h1>

<% @links.each do |link| %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <%= link_to link.title, link %>
      </div>
      <div class="panel panel-body">
        <%= link.url %>
      </div>
      <div class="panel-footer">
        <% if current_user.id == link.user.id %>
        <%= link_to 'Edit', edit_link_path(link) %>
        <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>